<% padding ||= true %>
<% html_class ||= "" %>

<% classes = [
  "rounded-xl border border-gray-200 bg-white shadow dark:border-gray-800 dark:bg-gray-900",
  padding ? "p-4 sm:p-5" : nil,
  html_class,
].compact.join(" ") %>

<section class="<%= classes %>">
  <%= yield %>
</section>
